[submodule "static/dynamitab"]
	path = static/dynamitab
	url = https://gitlab.com/mcb2003/dynamitab.git
[submodule "public"]
	path = public
	url = https://github.com/blind-computing/bc-site.git
	branch = main
