{{- define "main" }}
<h1 class="sr-only">{{ .Title }}</h1>
{{ partial "alt-formats.html" . }}
{{ .Content }}
<hr />
{{ with .Pages }}
<section aria-label="Articles in This Category">
  {{ range .GroupBy "Section" }}
  <section aria-labelledby="{{ .Key }}-title">
    <a href="/{{ .Key }}">
        <h2 id="{{ .Key }}-title">
      {{ with $.Site.GetPage "section" .Key }}
  {{.Title}}
      {{ else }}
      {{ .Key | title }}
      {{ end }} 
        </h2>
    </a>
  <div class="card-deck">
      {{ range .Pages }} {{ partial "post-card.html" . }} {{ end }}
  </div>
</section>
  {{ end }}
</section>
{{ else }}
<p>
  {{- with .Param "noContent" }} {{- . | html -}} {{- else -}} No posts were
  found in this category. {{ end -}}
</p>
{{ end -}} {{ end -}}
